.circle
{
    width:80px;
    height:80px;
    border-radius:50%;
    font-size:42px;
    font-family: "Microsoft YaHei UI",sans-serif;
    color: #ffffff;
    line-height:80px;
    text-align:center;
    background:#009688;
    display: block;
    margin: 50px auto;
}